.card-container{
  display:flex;
  flex-direction:column;
/*   height:450px; */
  width:180px;
  margin:8px;
  border:1px solid #d9d3d3;
  padding:2px;
  
}
.card-container>p{
  margin:2;
  padding:0;
  line-height:1.2rem;
}
.card-container>img{
  background:#eadcdc;
}

.card-container>button{
  margin:auto;
  line-height:1.3rem;
  background-color: #1565C0;
  border: 1px solid #546a83;
  width:60%;
  
}

h3{
  padding:14px;
  
}